.movie{
	width: 100%;
	height: 100%;
	background-color: rgb(153, 27, 69);
	border: 1px black;

	&__image{
		display: flex;
		justify-content: center;
		padding: 5px;
	}

	&__title{
		text-align: center;
	}
}
