.movie{
	
	&__list-item{
		width: 100%;
		background-color: rgb(55, 35, 165);
		border: 3px solid black;
		font-family: 'Oswald', sans-serif;
		color: black;
		list-style-type: none;
		position: relative;
		z-index: 1;

		&--display-none {
			display: none;
		}
	
		&--display-inline {
			display: inline-block;
		}
	}

	&__front{

		&-image{
			width: 100%;
			height: 70%;
		}
	
		&-title{
			text-align: center;
			font-size: 30px;
		}
	
		&-category{
			text-align: center;
			font-size: 25px;
			font-family: 'Roboto Condensed', sans-serif;
		}
	}
	
	&__info{
		position: absolute;
		left: 0;
		top: 0;
		height: 86%;
		background-color: white;
		font-family: 'Oswald', sans-serif;
		color: black;
		text-align: center;
		padding-top: 70px;
		opacity: 0;
		transition: opacity 1.5s;		

		&-description{
			padding: 10px;

			&-text{
				margin: 10px;
				font-family: 'Crimson Text', serif;
			}
		}
	}

	&--selected{
		.movie__info{
				opacity: 1;		
		}

		.movie__front{
			opacity: 1;	
		}
	}

	@keyframes fadeInDown {
		from {
			opacity: 0;
			transform: translate3d(0, -100%, 0);
		}
	
		to {
			opacity: 1;
			transform: none;
		}
	}
	
	.fadeInDown {
		animation-name: fadeInDown;
	}

}
