.movie__list{
	width: 100%;
	display: grid;
	padding: 10px;
	grid-template-columns: repeat(4, 1fr);
	// background-color: rgb(55, 35, 165);
	background-image: url('https://static.pexels.com/photos/813269/pexels-photo-813269.jpeg');
	grid-gap: 20px;
}

@media (max-width: 500px){
	.movie__lis{
					grid-template-columns: 1fr;
					grid-row-gap: 20px;
		 }
	}
	